*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #F5F6F7;
}

/* analog clock container */
.analog-clock{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid blue;
    background-image: url(./img/app/analog.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* analog hands */
.analog-hand{
    --rotation: 0deg;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    z-index: 200;
    transform: translateX(-50%) rotate(var(--rotation));
}
.analog-second{
    width: 3px;
    height: 45%;
    background-color: crimson;
}
.analog-minute{
    width: 5px;
    height: 40%;
    background-color: rgb(161, 161, 161);
}
.analog-hour{
    width: 8px;
    height: 35%;
    background-color: #000;
}

/* digital clock container */
.digital-clock{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    width: 650px;
    height: 230px;
    border-radius: 20px;
    border: 5px solid rgb(148, 145, 145);
}

/* hours, seconds, minutes container */
.digital-left, .digital-right{
    width: 45%;
    height: 100%;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.digital-middle{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

/* digit container*/
.digital-hour, .digital-minute{
    width: 97px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left & right digit column */
.side-column{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 5px;
}

/* individual left & right digit columns */
.side-column div{
    width: 13px;
    height: 47%;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 20px;
}

/* middle digit column */
.middle-column{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/* individual middle digit column */
.middle-column div{
    width: 50px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 20px;
}

.second-dot{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 50%;
}

.active-column{
    background-color: rgb(15, 233, 33) !important;
}